.content {
    width: 350px;
    border: 1px solid gray;
    margin: 200px auto;
}

h3 {
    text-align: center;
    border-bottom: 1px solid gray;
}

table {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    height: 30px; 
    line-height: 30px; 
    text-align: center; 
    border-bottom: 1px solid gray; 
    font-size: 20px; 
    font-weight: bold;
}

.footer {
    padding: 10px;
    margin: auto;
}

.divEdit {
    padding-left: 10px;
    padding-bottom: 10px;
    display: none;
}